<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <h2>Hello <%= @user.name%> </h2>
  <p>
  Welcome to another month's happenings with the new stuff this month:

  - There are 2 new features

  - We have now 3000 users!
  </p>
</body>
</html>
