[submodule "backend"]
	path = backend
	url = git@github.com:roschaefer/rundfunk-backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:roschaefer/rundfunk-frontend.git
	branch = master
