dist: trusty
sudo: required
rvm:
  - 2.3.1
node_js:
  - "6"
env:
  - TRAVIS_NODE_VERSION="6.2.1"
services:
  - postgresql
addons:
  apt:
    sources:
       - google-chrome
    packages:
    - google-chrome-stable

env:
  - TEST_SUITE=backend/
  - TEST_SUITE=frontend/
  - TEST_SUITE=./

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable

    #http://blog.500tech.com/setting-up-travis-ci-to-run-tests-on-latest-google-chrome-version/
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - export CHROME_BIN=chromium-browser

    #http://stackoverflow.com/questions/42210295/travis-unable-to-find-chromedriver
  - wget http://chromedriver.storage.googleapis.com/2.27/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo apt-get install libnss3
  - sudo apt-get --only-upgrade install google-chrome-stable
  - sudo cp chromedriver /usr/local/bin/.
  - sudo chmod +x /usr/local/bin/chromedriver

  - cd frontend
  - npm config set spin false
  - npm install -g bower
  - npm install -g ember-cli
  - npm install phantomjs-prebuilt
  - ember --version
  - bower --version
  - npm --version
  - node --version
  - phantomjs --version
  - chromedriver --version
  - cd ..

install:
  - bundle
  - cd frontend
  - npm install
  - bower install
  - ember build
  - cd ..

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cd backend
  - cp config/database.travis.yml config/database.yml
  - bundle exec rake db:schema:load
  - cd ..

script:
  - "cd $TEST_SUITE && bundle exec rake"
