version: '3'
services:
  frontend:
    image: rundfunk-mitbestimmen-frontend
    build:
      context: ./frontend
    ports:
      - 4200:4200 # server
      - 49153:49153 # live reload
      - 7357:7357 # test server
      - 7020:7020
    volumes:
      - ./frontend/:/frontend/
      - /frontend/node_modules
    environment:
      - DOCKER=1
      - API_HOST=http://localhost:3000
    command: ember server
  backend:
    image: rundfunk-mitbestimmen-backend
    build:
      context: ./backend
    ports:
      - 3000:3000
    volumes:
      - ./backend:/backend
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USERNAME=postgres
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    command: "bin/rails server -b 0.0.0.0"
    tty: true
    stdin_open: true
  sidekiq:
    image: rundfunk-mitbestimmen-sidekiq
    build:
      context: ./backend
    depends_on:
      - redis
      - db
    command: bundle exec sidekiq
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USERNAME=postgres
      - REDIS_URL=redis://redis:6379
  db:
    image: postgres:9.6
  redis:
    image: redis:3.2.0
