version: '3.4'
services:
  frontend:
    image: rundfunkmitbestimmen/frontend:latest
    ports:
      - 4200:4200 # server
      - 49153:49153 # live reload
      - 7357:7357 # test server
      - 7020:7020
    environment:
      - DOCKER=1
      - API_HOST=http://localhost:3000
  backend:
    image: rundfunkmitbestimmen/backend
    ports:
      - 3000:3000
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USERNAME=postgres
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
  db:
    image: postgres:9.6
  redis:
    image: redis:3.2.0
