<div class="ui centered grid">
  <div class="row">
    <div class="center aligned column">
      <div class="ui basic right pointing label">
        {{recentPositives}}
        <i class="{{if (gt recentPositives 0) 'red' 'grey'}} heart icon"></i>
      </div>
      {{#link-to 'invoice' class=(concat 'ui' buttonCss 'button find-broadcasts-navigation-distribute-button')}}
        {{t 'find-broadcasts.navigation.buttons.distribute'}}
      {{/link-to}}
    </div>
  </div>
</div>
{{yield}}
