<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <div class="ui very padded basic segment">
        <div class="ui active inverted dimmer">
          <div class="ui massive text loader">
            {{t 'authentication.loading.message'}}
          </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>
