html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Assistant', sans-serif;
}

p {
  font-size: 1.2em;
}

.masthead-header {
  font-size: 3.5em;
}
.masthead-sub-header {
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  color: #555;
}

.leaflet-container {
  width: 100%;
  height: 600px;
}

#inner-explanation-accordion {
  padding-left: 10px;
}

.accordion-header {
  font-weight: bold;
}

.accordion-text {
  margin-left: 25px;
  font-size: 0.9em;
}

.ui.menu {
  font-family: 'Assistant', sans-serif;
  font-size: 1.1em;
}

.ui.menu .active.item.logo {
  font-weight: bold;
}

.ui.button {
  font-family: 'Assistant', sans-serif;
  font-size: 1.1em;
}

.ui.button.start-button {
  text-transform: uppercase;
  padding-left: 3.3em;
  padding-right: 3.3em;
  letter-spacing: 1px;
  margin-top: 30px;
}

.ui.statistic > .label {
  font-family: 'Assistant', sans-serif;
}

.main.container {
  margin-top: 3em;
}

.ui.footer.segment {
  margin-top: 7em;
  margin-bottom: 0em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.ui.footer.segment + .ui.footer.segment {
  margin-top: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui.menu .item .ui.button {
  font-size: 0.9em;
  padding: 0.6em 1.2em;
}

.main.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.masthead.row {
  display: flex;
  min-height: 71vh;
  flex-direction: column;
}

#index-page > .row:not(:nth-child(2)) {
  margin-top: 10em;
}

.main >.footer {
  flex: 1;
}

.vertical-spaces .button + .button {
  margin-top: 10px;
}

#main-menu {
  border-radius: 0px !important;
}

.decision-card > .content:first-child {
  min-height: 12em !important;
}

.invisible {
  visibility: hidden;
}

i.frown {
  font-size: 7em;
  padding-top: 0.5em;
}


@media only screen and (max-width: 320px) {
  .pagination.dots {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .ui.table tfoot tr.large-pagination {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .ui.table tfoot tr.small-pagination {
    display: none !important;
  }
}
