<h2>Datenschutz</h2>
<p>
Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
</p>
<p>
Die Nutzung unserer Webseite ist ohne Angabe personenbezogener Daten möglich. Der Lesezugriff auf Statistiken und Datenvisualisierungen sowie der Sendungs-Datenbank ist ohne Anmeldung möglich. Eine Anmeldung ist nur bei einem Schreibzugriff notwendig, bspw. wenn Sie Ihre Unterstützung für eine Sendung mitteilen möchten. Für die Anmeldung müssen personenbezogene Daten erhoben werden, etwa eine E-Mail Adresse oder eine Verknüpfung mit einem Identitätsdienstleister, z.B. Facebook oder Google. Dieses Verfahren ist notwendig um Ihre Daten vor Dritten zu schützen sowie um Ihnen den Zugriff auf Ihre Daten zu einem späteren Zeitpunkt zu ermöglichen. Die Erhebung personenbezogener Daten auf unserer Website erfolgt stets auf freiwilliger Basis.
</p>
<p>
Desweiteren werden Informationen gesammelt, welche Sendungen Sie unterstützen oder nicht unterstützen möchten. Diese Informationen sind notwendig, um Statistiken und Visualisierungen zu erstellen. Ihre Daten werden im Moment des Abrufs ausgewertet und um diese Auswertungen jederzeit abrufbar zu halten, bleiben Ihre Daten dauerhaft gespeichert. Jedoch können Sie uns jederzeit per E-Mail oder Telefon kontaktieren um Ihre Daten löschen zu lassen. Unsere Kontaktdaten finden Sie im {{#link-to 'imprint'}}Impressum{{/link-to}}.
</p>

<p>
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
</p>


<h2>Single Sign-On über Auth0</h2>
<p>
Diese Website nutzt Auth0, einem Anbieter von Diensten zur Nutzerauthentifizierung, mit dem sich Nutzer bequem über Facebook, Google und Twitter (sog. Single Sign-On) anmelden können.
Auth0 authentifiziert die Identität und erleichtert eine plattformübergreifende Anmeldung.
Personenbezogene Daten dürfen von Auth0 nicht für andere Zwecke verwendet werden.
Wir verwenden einen Endpunkt, der sich auf einem Rechenzentrum in Frankfurt am Main befindet.
Für die Ausfallsicherheit werden die Daten zusätzlich auf einem Rechenzentrum in Dublin, Irland, repliziert.
Die Datenschutzerklärung von Auth0 ist unter <a href="https://auth0.com/privacy">https://auth0.com/privacy (engl.)</a> zu finden.
</p>


<h2>Datenschutzerklärung für die Nutzung von Piwik</h2>
<p>
Diese Website benutzt den Open Source Webanalysedienst Piwik. Piwik verwendet so genannte "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen über die Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung anonymisiert. Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben.
</p>
<p>
Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden sind, können Sie durch eine Einstellung Ihres Browsers, auch genannt "Do-not-track", die Speicherung und Nutzung deaktivieren.
</p>

<h2>Datenschutzerklärung für die Nutzung von Twitter</h2>
<p>
Wir haben auf der Startseite eine sogenannte "Twitter Timeline" integriert. Betreibergesellschaft von Twitter ist die Twitter, Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA.

Durch jeden Aufruf einer Unterseite, auf der eine Twitter Timeline integriert wurde, wird Ihr Internetbrowser veranlasst, eine Darstellung der Timeline von Twitter herunterzuladen. Dadurch erhält Twitter Kenntnis darüber, welche Seite von Ihnen besucht wird. Zweck der Integration der Timeline ist es, Neuigkeiten bekannt zu machen und unsere Besucherzahlen zu erhöhen.

Sofern Sie gleichzeitig bei Twitter eingeloggt sind, werden diese Informationen durch die Twitter-Timeline gesammelt und Ihrem jeweiligen Twitter-Account zugeordnet.

Sie können diese Übermittlung dadurch verhindern, dass Sie sich vor einem Aufruf unserer Internetseite aus Ihrem Twitter-Account ausloggen.

Die geltenden Datenschutzbestimmungen von Twitter sind unter <a href="https://twitter.com/privacy?lang=de">https://twitter.com/privacy?lang=de</a> abrufbar.
</p>
<p>
</p>

<h2>SSL-Verschlüsselung</h2>
<p>
Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
</p>
<p>
Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
</p>

<h2>Auskunft, Löschung, Sperrung</h2>
<p>
Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
</p>

<h2>Widerspruch Werbe-Mails</h2>
<p>
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
</p>
{{outlet}}
