<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      {{#loading-spinner}}
      {{outline}}
      {{/loading-spinner}}
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
