<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <div id='chart-area'>
        {{dynamic-high-charts chartOptions=chartOptions content=chartData}}
      </div>
    </div>
  </div>
</div>
