<div class="ui grid">
  <div class="centered row">
    <div class="fourteen wide mobile sixteen wide column ">
      {{visualize/graph/graph-visualization graph=model}}
    </div>
  </div>

  <div class="row">

    {{outlet}}

    {{#link-to 'visualize.index' class="ui huge primary button"}}
      <i class="left arrow icon"></i>
      {{t 'visualize.overview' }}
    {{/link-to}}
  </div>
</div>
