{{outlet}}
<div class="ui grid">
  <div class="doubling two column row">
    <div class="column">
      {{#link-to 'visualize.diff' class="ui image"}}
        <img src="/assets/images/missing-features/visualize/diff.png">
      {{/link-to}}
    </div>
    <div class="column">

      {{#link-to 'visualize.geo' class="ui image"}}
        <img src="/assets/images/missing-features/visualize/geo.png">
      {{/link-to}}
    </div>
    <div class="column">

      {{#link-to 'visualize.graph' class="ui image"}}
        <img src="/assets/images/missing-features/visualize/graph.png">
      {{/link-to}}
    </div>
    <div class="column">

      {{#link-to 'visualize.time' class="ui image"}}
        <img src="/assets/images/missing-features/visualize/time.png">
      {{/link-to}}
    </div>
  </div>
</div>
