<div class="ui grid find-broadcasts-empty">
  <div class="ui two column doubling row">
    <div class="six wide column">
      <div class="two column doubling row">
        <div class="eight wide column">
          <div class="ui basic padded segment">
            {{help-message class='create-missing-broadcast' icon='smile' header='find-broadcasts.help-messages.missing-broadcast.header' content='find-broadcasts.help-messages.missing-broadcast.content'}}
          </div>
        </div>
        {{#if (eq broadcasts.totalPages 0)}}
        <div class="eight wide column">
          <div class="ui basic padded segment">
            {{help-message class='change-search-params' content='find-broadcasts.help-messages.result-set-empty.content' }}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="ten wide column">
      {{broadcast-form
      broadcast=newBroadcast
      media=media
      stations=stations
      errorMessages=errorMessages
      newBroadcast='newBroadcast'
      }}
    </div>
    {{yield}}
  </div>
</div>
