<div class="field">
    {{radio-button value='ascending'  radioClass='ui primary' groupValue=sort}} Ascending
    {{radio-button value='descending' radioClass='ui primary' groupValue=sort selected=reverseSort}} Descending
    {{radio-button value='random'     radioClass='ui primary' groupValue=sort selected=randomSort}} Random
</div>
{{yield}}
