<div class="row">
  <div class="column">
    <div class="ui centered three stackable cards">
      {{#each broadcasts as |broadcast|}}
        {{decision-card broadcast=broadcast respondAction=(action 'respond')}}
      {{/each}}
    </div>
  </div>
</div>

{{yield}}
