{{#if current}}
  <div class="image">
    <i class="small blue circle icon"></i>
  </div>
{{else}}
  {{#if response}}
    {{#if (eq response 'positive')}}
      <div class="image">
        <i class="small green checkmark icon"></i>
      </div>
    {{else if (eq response 'neutral')}}
      <div class="image">
        <i class="small grey circle icon"></i>
      </div>
    {{/if}}
  {{else}}
    <div class="image">
      <i class="small grey circle thin icon"></i>
    </div>
  {{/if}}
{{/if}}
{{yield}}
