<div class="row">
  <div class="column">
    <div class="ui centered cards">
      {{#each broadcasts as |broadcast|}}
      <div class="card">
        {{decision-card broadcast=broadcast respondAction=respondAction}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
