<div class="title">
  <i class="dropdown icon"></i>
  <a href="/faq#{{key}}">{{t (concat 'index.faq.questions.' key '.title') }}</a>
</div>
<div class="content">
  {{t (concat 'index.faq.questions.' key '.content') htmlSafe=true }}

  {{yield}}
</div>
