<div class="title">
  <i class="dropdown icon"></i>
  <strong>{{t (concat 'index.faq.questions.' key '.title') }}</strong>
</div>
<div class="content">
  {{format-html-message (concat 'index.faq.questions.' key '.content') }}

  {{yield}}
</div>
