<div class="ui center aligned container">
  <div class="ui very padded basic segment">
    <div class="ui active inverted dimmer">
      <div class="ui massive text loader">
        {{t 'loading.message'}}
      </div>
      {{yield}}
    </div>
  </div>
</div>
