---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/141.3.135.0?access_key=IPSTACK_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 96127370-77ae-4b00-902b-77807813b482
      X-Request-Time:
      - '0.021'
    body:
      encoding: UTF-8
      string: '{"ip":"141.3.135.0","type":"ipv4","continent_code":"EU","continent_name":"Europe","country_code":"DE","country_name":"Germany","region_code":"BW","region_name":"Baden-W\u00fcrttemberg
        Region","city":"Karlsruhe","zip":"76133","latitude":49.0083,"longitude":8.3979,"location":{"geoname_id":2892794,"capital":"Berlin","languages":[{"code":"de","name":"German","native":"Deutsch"}],"country_flag":"http:\/\/assets.ipstack.com\/flags\/de.svg","country_flag_emoji":"\ud83c\udde9\ud83c\uddea","country_flag_emoji_unicode":"U+1F1E9
        U+1F1EA","calling_code":"49","is_eu":true}}'
  recorded_at: Wed, 22 Aug 2018 22:43:39 GMT
recorded_with: VCR 4.0.0
