---
http_interactions:
- request:
    method: get
    uri: https://freegeoip.io/json/2.247.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Thu, 22 Jun 2017 20:39:52 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"2.247.0.0","country_code":"DE","country_name":"Germany","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":51.2993,"longitude":9.491,"metro_code":0}

'
  recorded_at: Fri, 23 Jun 2017 13:17:26 GMT
recorded_with: VCR 3.0.3
